<!doctype html>
<html>
	<head>
		<title>Pallas</title>
		<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js'></script>
		<link rel="stylesheet" type="text/css" href="s/style.css" />
		<script type="text/javascript" src='s/app.js'></script>
		<script type="text/javascript" src='s/sigma.min.js'></script>
		<script type="text/javascript" src='s/sigma.parsers.gexf.min.js'></script>
		<script type="text/javascript" src='s/sigma.layout.forceAtlas2.min.js'></script>
		<script type="text/javascript" src='s/sigma.plugins.dragNodes.min.js'></script>
	</head>
	<body ng-app="target" style="background-color: grey">
		<div class="frame">
			<div id="intro" ng-controller="targetController as target">
				<form method=post ng-submit="target.start()">
					<input type="text" ng-model="target.name" placeholder="Great Website" ng-disabled="target.validated">
					<select ng-model="target.browser" ng-options="browser for browser in target.browsers" title="browser" ng-show="!target.validated">
					</select>
					<span ng-show="target.validated">{{target.browser}}</span>
					<select ng-model="target.proxy" ng-options="proxy for proxy in ['no proxy', 'browsermob']" title="proxy" ng-show="!target.validated">
					</select>
					<span ng-show="target.validated">{{target.proxy}}</span>
					<input type="text" ng-model="target.proxy_path" placeholder="/path/to/browsermob-proxy" ng-show="target.proxy=='browsermob'" ng-disabled="target.validated">
					<input type="submit" value="Analyze" ng-show="!target.validated">
					<input type="submit" value="New" ng-show="target.validated">
				</form>
				<a href ng-click="target.back_to_start()">Back to Start</a>
			</div>
			<div id="container">
			  <div id="graph-container"></div>
				<div id="details" ng-controller="detailsController as details">
					<div id="site-details" ng-show="siteData.site_name && !node">
						{{siteData.site_name}}
					</div>
					<div id="node-details" ng-show="node">
						details for node {{node_url}}
						<a href ng-show="has_path_from_current && (node != siteData.current_node)" ng-click="follow_existing_connections(node)">Go to Node</a>
						<ul class="nodenav">
							<li class="nodenavpill" ng-class="{ nodenavpillactive:nodeTab == 'cssSelector' }" ng-show="node != 'start'">
								<a href ng-click="nodeTab = 'cssSelector'">CSS Selector</a>
							</li>
							<li class="nodenavpill" ng-class="{ nodenavpillactive:nodeTab == 'URL' }" ng-show="node == 'start'">
								<a href ng-click="nodeTab = 'URL'">URL</a>
							</li>
							<li class="nodenavpill" ng-class="{ nodenavpillactive:nodeTab == 'connections' }">
								<a href ng-click="nodeTab = 'connections'">Connections</a>
							</li>
						</ul>

						<div ng-show="nodeTab == 'cssSelector'">
							<form ng-submit="selectored()">
								<input type="text" ng-model="css_selector">
								<input type="submit" value="Search">
							</form>
							{{results.length}} result(s) matching
							<ul id="selection_results">
								<li ng-repeat="match in results track by $index">
									<a href ng-click="view_match($index)">{{match.name}}</a>
									<div ng-show="selected == $index">
										<ul>
											<li>{{match.object.id}}</li>
											<li>{{match.object.href}}</li>
											<li ng-show="node == siteData.current_node"><a href ng-click="go_to($index)">Click</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div ng-show="nodeTab == 'URL'">
							<form ng-submit="selectored()" ng-show="node == siteData.current_node">
								<input type="text" ng-model="css_selector">
								<input type="submit" value="Search">
							</form>
							<div ng-show="node != siteData.current_node">
								{{siteData.site_name}}
							</div>
						</div>
						<div ng-show="nodeTab == 'connections'">
							<ul id="connections_results">
								<li ng-repeat="connection in connections track by $index">
									<a href ng-click="follow_connection($index)">{{connection.name}}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src='s/sigma-graph.js'></script>
	</body>
</html>
