#intro.row {
  height: 45px;
  margin: 0px;
  background-color: blue;
}

.intro_left {
  display: table-cell;
  float: left;
  margin: 5px;
}

.intro_right {
  display: table-cell;
  float: right;
  margin: 5px;
}

#main.row {
  height: 600px;
  margin: 0px;
}

.sidebar {
  background-color: yellow;
  height: 100%
}

.graph_zone {
  background-color: white;
  height: 100%
}
